.home {
  .homeContent {
    background: linear-gradient(
      115deg,
      $black 0%,
      $color-1 50%,
      transparent 100%
    );
    min-height: $minHeight;
    width: 100%;
    border-radius: $borderRadius;
    position: relative;
    overflow: hidden;
    box-shadow: $shadow;
    border: none;
    border-top: 1.5px solid rgb(105, 116, 119);
    border-bottom: 1.5px solid rgb(16, 16, 16);
    border-right: 1.5px solid rgb(70, 76, 78);
    border-left: 1.5px solid rgb(32, 32, 32);

    &:after {
      content: "";
      position: absolute;
      height: 100%;
      width: inherit;
      background: url("../../media/code4.jpg") no-repeat center/cover;
      z-index: -1;
      filter: brightness(30%);
    }

    .content {
      margin: -1rem;
      position: absolute;
      top: 20%;
      left: 13%;
      font-family: $font-1;

      h1 {
        font-size: 5rem;
        font-family: $font-3;
        color: $color-7;
        text-transform: uppercase;
        text-shadow: 0px 3px 3px #000000, 3px 6px 3px $black;
      }

      h2 {
        font-size: 2.5rem;
        padding: 1.5rem 2rem 4rem 0rem;
        color: $color-3;
        text-shadow: 0px 1px 2px #000000, 3px 4px 2px $black;
      }

      .pdf {
        a {
          background: linear-gradient(180deg, $color-4 0%, $black 100%);
          position: relative;
          font-size: 1.5rem;
          padding: 1rem 2rem;
          border-radius: 10px;
          color: $color-3;
          text-shadow: 0px 2px 2px #000000, 1px 2px 2px $black;
          letter-spacing: 0.11rem;
          transition: color 0.7s;
          span {
            position: relative;
            z-index: 1;
          }
          &:before {
            background: linear-gradient(180deg, $black 0%, $color-4 100%);
            border-radius: 10px;
            position: absolute;
            content: "";
            top: 0px;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: -1;
            transition: opacity 0.3s;
            opacity: 0;
          }

          &:hover {
            color: $color-8;
            text-shadow: 0px 2px 2px #000000, 1px 2px 2px $black;
          }

          &:hover::before {
            opacity: 1;
            z-index: 1;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .homeContent {
    margin: 0 !important;

    &:after {
      background: url("../../media/code4.jpg") no-repeat 60% 50% / cover !important;
    }

    h1 {
      font-size: 2.5rem !important;
    }

    h2 {
      font-size: 1.5rem !important;
    }
    .content {
      .pdf {
        a {
          font-size: 1.2rem !important;
        }
      }
    }
  }
}
